<mat-card class = "main-container">
        <mat-card class = "form-container">
                <h1>
                        Registrate para participar por muchos descuentos
                </h1>
                <mat-form-field appearance="outline">
                        <mat-label> Nombre </mat-label>
                        <input matInput placeholder = "Jan Reyes">
                </mat-form-field>
                <mat-form-field appearance="outline">
                        <mat-label> Número de contacto </mat-label>
                        <input matInput placeholder = "8115681823">
                </mat-form-field>
                <mat-form-field appearance="outline">
                        <mat-label> Domicilio </mat-label>
                        <input matInput placeholder = "La Aurora">
                </mat-form-field>
                <button mat-raised-button color = "primary">
                        Enviar
                </button>
        </mat-card>
</mat-card>
<mat-toolbar>
        <span style="flex: 1 1 auto"></span>
        <span> Servicios más frecuentes </span>
        <span style="flex: 1 1 auto"></span>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>
                <mat-card class = "sevicio">
                        <img src = "../../assets/llave-inglesa.png">
                        Servicio 1
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class = "sevicio">
                        <img src = "../../assets/llave-inglesa.png">
                        Servicio 2
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class = "sevicio">
                        <img src = "../../assets/llave-inglesa.png">
                        Servicio 3
                </mat-card>
        </mat-grid-tile>
</mat-grid-list>