<mat-card class = "main-container">
        <mat-card class = "form-container">
                <h1>
                        Registrate para enterarte de muchos descuentos
                </h1>
                <mat-form-field appearance="outline">
                        <mat-label> Nombre </mat-label>
                        <input matInput placeholder = "Jan Reyes" #nombre>
                </mat-form-field>
                <mat-form-field appearance="outline">
                        <mat-label> Correo </mat-label>
                        <input matInput placeholder = "jan.reyes@udem.edu" #mail>
                </mat-form-field>
                <button mat-raised-button color = "primary" (click) = "sign(nombre.value, mail.value)">
                        Enviar
                </button>
        </mat-card>
</mat-card>
<mat-toolbar>
        <span style="flex: 1 1 auto"></span>
        <span> Servicios más frecuentes </span>
        <span style="flex: 1 1 auto"></span>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile *ngFor = "let service of services">
                <mat-card class = "tarjeta-servicio" (click) = "comprar(service.name)">
                        <img src = "../../assets/llave-inglesa.png">
                        {{ service.name }}
                </mat-card>
        </mat-grid-tile>
</mat-grid-list>